.wrapper {
    display: flex;
    
    section {
        flex: 1;
    }
}

.container {
    height: 100vh;
    max-width: 62rem;
    margin: 0 auto;
    padding: 2.5rem 2rem;
    display: flex;
    flex-direction: column;

    .containerComponents {
        display: flex;
        align-content: center;
        gap: 10rem;

        > div {
            margin-top: 3rem;
        }
    }
}